@using Hnatob.WebUI.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhNATOB - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Action("Navbar", "Manage")
    <div class="position-absolute container-fluid" style="z-index: 1050">
        @if (@TempData["Error"] != null)
        {
            <div class="alert alert-dismissable alert-danger mr-0">
                @TempData["Error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-dismissable alert-success mr-0">
                @TempData["Message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer class="navbar navbar-dark bg-dark fixed-bottom d-none d-lg-block">
        <p class="navbar-text">&copy; @DateTime.Now.ToShortDateString()</p>
    </footer>

    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function myfunction() {
            init();
        });

        function init() {
            $('[data-access=employee]').each(
                function () {
                    if ('@TempData["role"]'[1] == '1' ||
                        '@TempData["role"]'[2] == '1' ||
                        '@TempData["role"]'[3] == '1') {
                        $(this).show();
                    }
                }
            );

            $('[data-access=editor]').each(
                function () {
                    if ('@TempData["role"]'[2] == '1') {
                        $(this).show();
                    }
                }
            );

            $('[data-access=manager]').each(
                function () {
                    if ('@TempData["role"]'[3] == '1') {
                        $(this).show();
                    }
                }
            );

        }
    </script>


</body>
</html>

