@model Hnatob.WebUI.Models.RoutViewModels

@using (Html.BeginForm(@Model.Action, @Model.Controller, FormMethod.Post, Model))
{
    <div class="modal-header">
        <h5 class="modal-title">@Model.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Model.Data
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">@Model.ButtonConfirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Model.ButtonCancel</button>
    </div>
}
