@model Hnatob.Domain.Models.Event
@{ViewBag.Title = "Details";}


<div class="form-horizontal">
    <h4>Event</h4>
    <hr />
    <div class="form-row">
        <div class="col-md-7">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Access)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Access)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Location)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Start)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Duration)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Duration)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EventType)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EventType, new { htmlAttributes = new { @class = "form-control", placeholder = @Model.Title } })</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = @Model.Title } })</dd>
            </dl>
        </div>

        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div>
                <strong>@Html.DisplayNameFor(model => model.Description)</strong>:
                <p>@Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })</p>
            </div>
        }
    </div>
    @*---------------------------------------------------------------------------------------------------------------------*@
    <div class="col-md-5">
        @if (Model.Responsibles.Count > 0)
        {
            <h5><strong>@Html.Label("Responsibles:", new { @class = "control-label" })</strong></h5>
        }
        @foreach (var item in Model.Responsibles)
        {
            <div>
                <strong>@Html.Label(item.Position?.Name ?? "Undefined", htmlAttributes: new { @class = "control-label" }): </strong>
                @item.PersonName - @item.Comment
            </div>
        }
        @*--------------------------------------------------------------------------------------*@


        @if (Model.Responsibles.Count > 0)
        {
            <h5><label><strong>Services: </strong></label></h5>
        }
        @foreach (var item in Model.CommentsToServices)
        {
            <div>
                <strong>@Html.Label(item.ServiceName, htmlAttributes: new { @class = "control-label" })</strong> -
                @item.Comment
            </div>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back to List", "Schedule", null, new { @class = "btn btn-default btn-dark" })
        @Html.ActionLink("Edit", "Edit", new { eventId = Model.Id },
       new {
           @class = "btn btn-warning",
           style = "display:none;",
           data_access = "editor",
       })
    </div>
</div>
