@*@model IEnumerable<Hnatob.Domain.Models.Event>*@
@using Hnatob.WebUI.HtmlHelpers
@model Hnatob.WebUI.Models.Pagination.ScheduleListPaginationViewModel
@{ViewBag.Title = "Schedele";}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<table class="table">
    <tr>
        <th>Access</th>
        <th>Day</th>
        <th>Location</th>
        <th>Start</th>
        <th class="d-none d-lg-block">Duration</th>
        <th>Title</th>
        <th class="d-none d-lg-block">Description</th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model.Schedule)
    {
    <tr>
        @if (item.Access == "Public")
    {
        <th>
            <i class="material-icons" style="color:green;" data-toggle="tooltip"
               data-placement="bottom"
               title="It's event for everybody">lock_open</i>
        </th>
}
        @if (item.Access == "Private")
    {
        <th>
            <i class="material-icons" style="color:red;"
               data-toggle="tooltip" data-placement="bottom"
               title="It's special event for concrete people">lock</i>
        </th>
}
        <th>
            @item.Start.Date.ToShortDateString()
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Start.TimeOfDay)
        </th>
        <th class="d-none d-lg-block">
            @item.Duration
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
            <strong>
                @Html.DisplayFor(modelItem => item.Title)
            </strong>
        </td>
        <td class="d-none d-lg-block">
            <label>@item.Description</label>
        </td>
        @if (Request.IsAuthenticated)
        {
        <td data-target="@item.Id">
            <div class="btn-group float-right">
                @if (item.Start > DateTime.Now)
                {
                @Html.ActionLink("Edit", "Edit",
                                   new { eventId = item.Id },
                                   new { @class = "btn btn-warning", data_access = "editor", style = "display:none" })
                }

                <button name="delete" type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#modal" data-access='editor'
                        style="display:none">
                    Delete
                </button>
                @Html.ActionLink("Details", "Details",
                   new { eventId = item.Id },
                   new { @class = "btn btn-info", data_access = "employee", style = "display:none" })
            </div>
        </td>
        }
    </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Edit", null, 
    new { @class = "btn btn-primary", data_access = "editor", style = "display:none" })
</p>



<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modalcontent" class="modal-content">
        </div>
    </div>
</div>

<div>
    @Html.PageLinksForSchedule(Model.PagingInfo, x => Url.Action("Schedule", new { page = x }))
</div>

@section scripts{
    <script src="~/Scripts/custom/modalConfirm.js" type="text/javascript"></script>
    <script type="text/javascript">
        "use strict";
        window.onload = function () {
            dataSetModal("[name='delete']", "#modalcontent", "Delete");
        }
    </script>
}
