@model IEnumerable<Hnatob.Domain.Concrete.Person>
@using Hnatob.Domain.Helper

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <th>
                @{
                    string positions = null;
                    var posts = item.Positions.Select(p => p.Name).ToList();
                    foreach (var post in posts)
                    {
                        if (string.IsNullOrEmpty(positions))
                        {
                            positions = post;
                        }
                        else
                        {
                            positions += ", " + post;
                        }
                    }
                }
                <label>@positions</label>
            </th>
            <td class="btn-group">
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                @*if user "Editor"*@
                @Html.ActionLink("Blok", "Blok", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
