@model List<Hnatob.Domain.Models.Responsible>

@for (var i = 0; i < Model.Count; ++i)
{
    <div class="card ">
        <div class="card-body row">
            @*<div class="row p-2 ui-state-default">*@
            <input name="responsibleId" type="hidden" class="" value="@Model[i].Id" />
            <div class="col-12 col-lg-5">
                <div id="post">
                    @{
                        string post = @Model[i].Position?.Name ?? "Position";
                        string name = @Model[i].Person?.Name ?? @Model[i].PersonName;
                    }
                    <div class="form-group dropdown btn-group p-1">
                        <input name="ResponsiblePost" class="form-control btn btn-info"
                               value="@post">
                        <input name="hidenParamPost" type="hidden" class="" value="@Model[i].PositionId" />
                        <button class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"> </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <label class="dropdown-item" data-itemid="0">Empty</label>
                            @foreach (var row in ViewBag.Positions)
        {
                    <label class="dropdown-item" data-itemid="@row.Id.ToString()">@row.Name</label>
}
                        </div>
                    </div>
                </div>

                <div id="name">
                    <div class="form-group dropdown btn-group p-1">
                        <input name="ResponsibleName" class="form-control btn btn-outline-info" value="@name" />
                        <input name="hidenParamName" type="hidden" class="" value="@Model[i].PersonId" />
                        <button class="btn btn-sm btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-12 col-lg-7">
                <label for="comment">Comment:</label>
                <textarea id="comment" name="Comment" class="form-control col-12" rows="2">@Model[i].Comment</textarea>
            </div>
            @*<input name="Comment" type="text" class=" p-1" value="@Model[i].Comment" />*@
        </div>
    </div>
}
