@model Hnatob.WebUI.Models.ProfileViewModels
@{ViewBag.Title = "Profile";}

@using (Html.BeginForm("UsersProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    string myWidth1colum = " col-12 col-md-3 col-lg-3 text-md-right";
    string myWidth2colum = " col-12 col-md-6 col-lg-5";
    <div class="py-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Security</h5>
                <div class="form-group row">
                    <label class="@myWidth1colum">Email:</label>
                    <input name="Email" type="text" class="form-control @myWidth2colum" value="@Model.Email" readonly />
                </div>
                <div class="form-group row">
                    <label class="@myWidth1colum">Phone number: </label>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" + myWidth2colum, placeholder = "+380xxxxxxxxxx" } })
                    @Html.ValidationMessageFor(Model => Model.PhoneNumber, "", new { @class = "text-danger" + myWidth2colum })
                </div>
                <div>
                    @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new { @class = "btn btn-default btn-primary" })
                </div>
            </div>
        </div>
        @if (Model.EmailConfirmed)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User data / Profile</h5>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Name: </label>
                        @Html.EditorFor(model => model.Name, new
                        {
                            htmlAttributes = new { @class = "form-control " + myWidth2colum, placeholder = "Name" }
                        })
                        @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Patronymic: </label>
                        @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control" + myWidth2colum, placeholder = "Patronymic" } })
                        @Html.ValidationMessageFor(Model => Model.Patronymic, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Surname: </label>
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" + myWidth2colum, placeholder = "Surname" } })
                        @Html.ValidationMessageFor(Model => Model.Surname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <input name="Birthday" type="hidden" class="form-control" value="@Model.Birthday" />
                        <label class="@myWidth1colum">Birthday</label>
                        <input id="birthday" class="datepicker form-control @myWidth2colum" placeholder="dd.mm.yyyy" value="@Model.Birthday.ToString("dd.MM.yyyy")">
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Nickname: </label>
                        @Html.EditorFor(model => model.Nickname, new
                        {
                            htmlAttributes = new { @class = "form-control" + myWidth2colum, placeholder = "Nickname" }
                        })
                        @Html.ValidationMessageFor(Model => Model.Nickname, "", new { @class = "text-danger" })
                   </div>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Introduction:</label>
                        <textarea name="Introduction" class="form-control  @myWidth2colum" rows="3">@Model.Introduction</textarea>
                        @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <label class="@myWidth1colum">Description:</label>
                        <textarea name="Description" class="form-control @myWidth2colum" rows="5">@Model.Description</textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        <div class="form-group pt-2">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to Home", "", "", null, new { @class = "btn btn-default btn-secondary" })
                <input id="submit" type="submit" value="Save" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts
{
    @*Juquery ui*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" type="text/css">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    @Scripts.Render("~/bundles/moment")



    <script type="text/javascript">
        window.onload = function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
                startDate: '-100y',
                endDate: '-6y',
            });

            let valBirthday = $("[name=Birthday]");
            $('#birthday').on('change', function (e) {

                valBirthday.attr(
                    "value",
                    moment(e.target.value, 'DD.MM.YYYY').format('DD.MM.YYYY hh:mm:ss')
                );
            })

        }
    </script>
}
